<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.camunda.mapper.LogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.camunda.entity.Log">
        <id column="id" property="id"/>
        <result column="task" property="task"/>
        <result column="task_id" property="taskId"/>
        <result column="user_id" property="userId"/>
        <result column="isagreed" property="isagreed"/>
        <result column="log" property="log"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

</mapper>